*{
     box-sizing: border-box;
     padding: 0;

}
body{
    height: 100vh;
    text-align: center;
    align-content: center;
    
}

.calci{
    background-color: grey;
    width: 50vw;
    padding: 1rem;
    margin: auto;
   
    .btns{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: .5rem;
    }
    .screen input{
        width: 100%;
        padding: .5rem;
        margin-bottom: .5rem;
        font-size: 24px;
    }
}

.btns button{
    background-color: white;
    border: none;
    padding: .5rem;
    font-size: 20px;
    cursor: pointer;
}

.btns button:hover{
    background-color: rgb(201, 197, 197);

}

::placeholder{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    font-weight: bold;
}